.map {
  margin-bottom: 164px;
  &__container {
    position: relative;

    width: 1300px;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: '';
      bottom: -59px;
      right: -209px;

      width: 146px;
      height: 146px;

      background: url('../../img/decorate-icon.png') no-repeat;
    }
  }
  &__wrapper {
    position: relative;

    width: 1300px;
    height: 500px;

    border: 2px solid @main-color-fill;
  }
  &__google-map {
    position: absolute;

    border: 0;
  }
}
