.send-message {
  position: relative;

  min-height: 947px;
  margin-bottom: 139px;
  padding-top: 116px;

  background: url('../img/background.jpg') no-repeat;
  background-size: 100% 935px;
  @media (min-resolution: 2dppx) {
    background: url('../img/background@2x.jpg') no-repeat;
    background-size: 100% 935px;
  }
  &__container {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1300px;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: '';

      right: 0;

      width: 483px;
      height: 691px;

      background: url('../img/index/awards/dish.jpg') no-repeat;
      background-size: 483px 691px;
      @media (min-resolution: 2dppx) {
        background: url('../img/index/awards/dish@2x.jpg') no-repeat;
        background-size: 483px 691px;
      }
    }
    &::after {
        position: absolute;
        content: 'G';

        top: 478px;
        left: 723px;
        z-index: 0;

        font-size: 600px;
        font-weight: 700;
        color: #fafafa;

        opacity: 0.8;
      }
  }
  &__wrapper {
    width: 635px;
    min-height: 400px;
  }
  &__form {
    display: flex;
    flex-direction: column;

    min-height: 400px;
    margin-top: 145.5px;
  }
  &__input {
    width: 100%;
    min-height: 60px;
    padding: 15px 18.94px;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0.04em;

    background-color: transparent;
    border: 1px solid #f5efdb;

    color: #f5efdb;
    &:hover::placeholder {
      color: @second-color-text;
    }
    &:focus {
      font-size: 18px;
    }
    &--message {
      min-height: 140px;

      resize: none;
    }
  }
  &__button {
    width: 129px;
    padding-top: 0;

    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;

    border: 0;
  }
}
